---
import type { Shared } from 'types/shared'
import Container from 'components/Container.astro'
import NextLink from 'components/NextLink.astro'

type Props = {
  next: Shared.LinkWithCaption
}

const { next } = Astro.props as Props
---

<footer class="grid place-content-center w-[calc(100vw_-_var(--custom-space))] portrait:w-auto">
  <div class="grid place-content-center row-start-2 col-start-2 col-end-12 row-end-12 portrait:py-[10vh]">
    <NextLink url={next.link.url} caption={next.caption}>
      {next.link.name}
    </NextLink>
  </div>
</footer>
