---
import type { AstroBuiltinAttributes } from 'astro';

type Props = {
  class?: string;
  'class:list'?: AstroBuiltinAttributes['class:list'];
};

const { 'class:list': classList, class: className }: Props = Astro.props;
---

<div
  class:list={[
    [classList, className],
    'flex items-center whitespace-nowrap before:h-[0.25em] before:w-[0.25em]',
    'before:rounded-full before:bg-current before:mr-[0.25em] pl-[0.25em]',
  ]}
>
  <slot />
</div>
