---
import type { Shared } from 'types/shared'
import FontFaces from 'components/FontFaces.astro'
import Header from 'components/Header.astro'
import Footer from 'components/Footer.astro'

type Props = {
  meta: Shared.SEO.Meta
}

const { meta } = Astro.props as Props
---

<!doctype html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <title>{meta.title}</title>
    <link rel="canonical" href={Astro.site} />
    <link rel="preconnect" href="https://res.cloudinary.com" />
    <slot name="preload" />
    <FontFaces />
  </head>

  <body class="fixed antialiased [text-rendering:optimizeLegibility] text-black bg-gray font-body uppercase variation-medium text-base">
    <div asscroll-container data-barba="wrapper">
      <Header />
      <div data-loading-translater>
        <div asscroll-element data-barba="container" data-barba-namespace="base" class="flex portrait:flex-col">
          <main class="flex-shrink-0 flex portrait:flex-col">
            <slot />
          </main>
          <Footer />
        </div>
      </div>
      <progress-bar class="origin-left fixed h-2 bg-[color:#C9C9C9] inset-x-0 bottom-0" style="transform: scaleX(0)"></progress-bar>
    </div>

    <div class="h-screen w-screen fixed inset-0 bg-black pointer-events-none" data-loading-shutter style="transform: scaleX(0)"></div>
  </body>

</html>

<script>
  import createApp from 'scripts/app'
  import asscroll from 'scripts/plugins/asscroll'
  import portrait from 'scripts/plugins/portrait'
  import barba from 'scripts/plugins/barba'
  import { gsap, ScrollTrigger } from 'gsap/all'
  import NavigationMenu from 'scripts/components/NavigationMenu'
  import MenuButton from 'scripts/components/MenuButton'
  import NextLink from 'scripts/components/NextLink'
  import SkewWrapper from 'scripts/components/SkewWrapper'
  import Marquee from 'scripts/components/Marquee'
  import ProgressBar from 'scripts/components/ProgressBar'
  import ParallaxWrapper from 'scripts/components/ParallaxWrapper'
  import StickyServices from 'scripts/components/StickyServices'

  const app = createApp()

  // GSAP plugins
  gsap.registerPlugin(ScrollTrigger)

  // App plugins
  app.use(barba)
  app.use(portrait)
  app.use(asscroll)

  window.customElements.define('menu-button', MenuButton)
  window.customElements.define('navigation-menu', NavigationMenu)
  window.customElements.define('next-link', NextLink)
  window.customElements.define('skew-wrapper', SkewWrapper)
  window.customElements.define('marquee-carousel', Marquee)
  window.customElements.define('progress-bar', ProgressBar)
  window.customElements.define('parallax-wrapper', ParallaxWrapper)
  window.customElements.define('sticky-services', StickyServices)
</script>
