---
import type { Shared } from 'types/shared'
import FontFace from 'components/FontFace.astro'
import Header from 'components/Header.astro'
import Footer from 'components/Footer.astro'

type Props = {
  meta: Shared.SEO.Meta
}

const { meta } = Astro.props as Props
---

<!doctype html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <title>{meta.title}</title>
    <link rel="canonical" href={Astro.site} />
    <link rel="preconnect" href="https://res.cloudinary.com" />
    <slot name="preload" />
    <FontFace />
  </head>

  <body class="fixed antialiased [text-rendering:optimizeLegibility] text-black bg-gray font-body uppercase variation-medium text-base">
    <Header />
    <div asscroll-container>
      <div class="flex portrait:flex-col">
        <main class="flex-shrink-0 flex portrait:flex-col">
          <slot />
        </main>
        <Footer />
      </div>
    </div>
  </body>

</html>

<script>
  import createApp from 'scripts/app'
  import asscroll from 'scripts/plugins/asscroll'
  import portrait from 'scripts/plugins/portrait'
  import splitType from 'scripts/plugins/split-type'
  import { gsap, ScrollTrigger } from 'gsap/all'

  const app = createApp()

  // GSAP plugins
  gsap.registerPlugin(ScrollTrigger)

  // App plugins
  app.use(portrait)
  app.use(asscroll)
  app.use(splitType)
</script>
