name: sanserif-devcontainer

networks:
  default:
    name: ${COMPOSE_PROJECT_NAME}-net

volumes:
  s3-data:
    name: ${COMPOSE_PROJECT_NAME}-s3-data
  strapi-db-data:
    name: ${COMPOSE_PROJECT_NAME}-strapi-db-data

services:
  s3:
    image: minio/minio
    container_name: ${COMPOSE_PROJECT_NAME}-s3
    environment:
      MINIO_ROOT_USER: root
      MINIO_ROOT_PASSWORD: root1234
    command: server /data --console-address :9001
    volumes:
      - s3-data:/data

  mailer:
    container_name: ${COMPOSE_PROJECT_NAME}-mailer
    image: maildev/maildev

  strapi-db:
    container_name: ${COMPOSE_PROJECT_NAME}-strapi-db
    image: postgres:15-alpine
    environment:
      POSTGRES_DB: strapi
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
    volumes:
      - strapi-db-data:/var/lib/postgresql/data

  workspace:
    container_name: ${COMPOSE_PROJECT_NAME}-workspace
    image: node:20-alpine
    command: sleep infinity
    depends_on:
      - s3
      - strapi-db
      - mailer
    volumes:
      - ../.:/workspace:cached
