---
import Image from 'components/Image.astro'
import { cloudinary } from 'src/cloudinary'
import type { Shared } from 'types/shared'

type Props = {
  layout: Shared.Project.Subject.Components.ThreeImages
}

const { layout } = Astro.props as Props

const image1 = cloudinary.image(layout.image1.data.attributes.provider_metadata.public_id)
const image2 = cloudinary.image(layout.image2.data.attributes.provider_metadata.public_id)
const image3 = cloudinary.image(layout.image3.data.attributes.provider_metadata.public_id)
---

<sanserif-skew class="row-start-2 row-end-12 grid gap-[3vh] [&~[data-builder='three-images']]:!ml-[3vh]" data-builder="three-images">
  <div class="flex items-start">
    <parallax-wrapper class="h-full">
      <Image
        src={image1.toURL()}
        width={600}
        height={400}
        class="h-full w-[36vh] portrait:w-[50vw]"
      />
    </parallax-wrapper>
  </div>

  <div class="flex items-center portrait:justify-center">
    <parallax-wrapper class="h-full">
      <Image
        src={image2.toURL()}
        width={600}
        height={400}
        class="h-full w-[36vh] portrait:w-[50vw]"
      />
    </parallax-wrapper>
  </div>

  <div class="flex items-end portrait:justify-end">
    <parallax-wrapper class="h-full">
      <Image
        src={image3.toURL()}
        width={560}
        height={340}
        class="h-full w-[36vh] portrait:w-[50vw]"
      />
    </parallax-wrapper>
  </div>
</sanserif-skew>
