---
import Image from 'components/Image.astro';
import type { Shared } from 'types/shared';

type Props = {
  layout: Shared.Project.Subject.Components.ThreeImages;
};

const { layout }: Props = Astro.props;
---

<sanserif-skew
  class="row-start-2 row-end-12 grid gap-[3vh] [&~[data-builder='three-images']]:!ml-[3vh]"
  data-builder="three-images"
>
  <div class="flex items-start">
    <parallax-wrapper class="h-full">
      <Image
        src={layout.image1.data.attributes.url}
        width={600}
        height={400}
        class="h-full w-[36vh] portrait:w-[50vw]"
      />
    </parallax-wrapper>
  </div>

  <div class="flex items-center portrait:justify-center">
    <parallax-wrapper class="h-full">
      <Image
        src={layout.image2.data.attributes.url}
        width={600}
        height={400}
        class="h-full w-[36vh] portrait:w-[50vw]"
      />
    </parallax-wrapper>
  </div>

  <div class="flex items-end portrait:justify-end">
    <parallax-wrapper class="h-full">
      <Image
        src={layout.image3.data.attributes.url}
        width={560}
        height={340}
        class="h-full w-[36vh] portrait:w-[50vw]"
      />
    </parallax-wrapper>
  </div>
</sanserif-skew>
