---
import SkewWrapper from 'components/SkewWrapper.astro'
import { route } from 'utilities/route'

type Props = {
  class?: string
  slug: string
  name: string
}

const { slug, name, class: className } = Astro.props as Props
---

<article class={className}>
  <parallax-wrapper>
    <a href={route('projects', slug)} aria-label={name}>
      <SkewWrapper>
        <slot />
     </SkewWrapper>
    </a>
  </parallax-wrapper>
</article>
