---
import { route } from 'utilities/route'
import Sprite from 'components/Sprite.astro'
import Menu from './Menu.astro'
---

<header class="z-50 fixed top-custom-space inset-x-custom-space text-[color:var(--header-color)] transition-colors duration-300">
  <a href={route('index')} class="z-50 absolute left-0 w-20 h-4" aria-label="Go to homepage">
    <Sprite id="sanserif" class="w-full h-full" />
  </a>

  <sanserif-menu-toggle class="z-50 absolute right-0 group">
    <button
      class="h-6 w-6 relative children:block children:w-full children:h-[2px] children:bg-current children:absolute children:inset-x-0"
      aria-label="Toggle menu"
    >
      <span class="top-2 transform-gpu transition-transform group-open:rotate-45 group-open:translate-y-[0.19rem]"></span>
      <span class="bottom-2 transform-gpu transition-transform group-open:-rotate-45 group-open:translate-y-[-0.19rem]"></span>
    </button>
  </sanserif-menu-toggle>

  <Menu />
</header>
