---
import Sprite from 'components/Sprite.astro'
import Text from 'components/Text.astro'

type Props = {
  url: string
  caption: string
}

const { url, caption } = Astro.props as Props
---

<footer
  class:list={[
    'grid place-content-center w-[calc(100vw_-_var(--custom-space))]',
    'portrait:w-auto'
  ]}
>
  <sanserif-next-link class="grid place-content-center mt-14 portrait:py-[10vh]">
    <a href={url} class="block">
      <Text as="strong" size="3xl" class="relative">
        <div class="overflow-hidden grid text-center">
          {Array.from(
            { length: 2 },
            () => (
              <sanserif-skew
                class="row-start-1 col-start-1 max-w-[6em]"
                data-split
              >
                <slot />
              </sanserif-skew>
            )
          )}
        </div>
      </Text>
      <small
        class:list={[
          'mt-8 transition-all duration-500 ease-in-out flex',
          'items-center justify-center'
        ]}
      >
        {caption}
        <Sprite id="arrow" class="h-4 w-4 ml-4" />
      </small>
    </a>
  </sanserif-next-link>
</footer>
